.gallery-wrapper {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "one two three four"
    "five six  seven  eight";
    margin-bottom: 50px;
}

.gallery-images {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.7s;
  
}

.gallery-images:hover{
    cursor: pointer;
    border: 3px solid rgb(255, 94, 0);
}

.gallery-img-1, .gallery-img-2, .gallery-img-3, .gallery-img-4, .gallery-img-5, .gallery-img-6, .gallery-img-7, .gallery-img-8 {
    aspect-ratio: 1 / 1;
}
.gallery-img-1 {background-image: url('../../images/Layer\ 8.png');}
.gallery-img-2 {background-image: url('../../images/Layer\ 9.png');}
.gallery-img-3 {background-image: url('../../images/Layer\ 10.png');}
.gallery-img-4 {background-image: url('../../images/Layer\ 11.png');}
.gallery-img-5 {background-image: url('../../images/Layer\ 12.png');}
.gallery-img-6 {background-image: url('../../images/Layer\ 13.jpg');}
.gallery-img-7 {background-image: url('../../images/Layer\ 14.jpg');}
.gallery-img-8 {background-image: url('../../images/Layer\ 15.jpg');}

.gallery-img-1 {grid-area: one;}
.gallery-img-2 {grid-area: two;}
.gallery-img-3 {grid-area: three;}
.gallery-img-4 {grid-area: four;}
.gallery-img-5 {grid-area: five;}
.gallery-img-6 {grid-area: six;}
.gallery-img-7 {grid-area: seven;}
.gallery-img-8 {grid-area: eight;}

.gallery-text {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: grid;
  row-gap: 20px;
  justify-items: center;
  z-index: 10; 
  background-color: rgba(0, 0, 0, 0.4); 
  pointer-events: none;
  
}

.gallery-text-title {
    justify-self: center;
    align-self: flex-end;
    color: white;
    font-size: 60px;
    letter-spacing: 50%;
    font-family: ProximaNova-Light;
}
.gallery-text-subtitle {
    color: red;
    font-size: 40px;
    letter-spacing: 30%;
    margin-bottom: 150px;
    font-family: ProximaNova-Bold;
}

@media screen and (min-width: 1100px) and (max-width: 1400px){
    .gallery-images {
    width: 100%;
    max-width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.7s;
  
}

.gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    
    .gallery-text {
        display: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 1100px){

    .gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    }


    .gallery-images {
    width: 100%;
    max-width: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.7s;
  
}

.gallery-text {
        display: none;
    }

}

@media screen and (min-width: 320px) and (max-width: 600px){
    body {
        background-color: rgb(145, 145, 145);
    
    }

    .gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    }


    .gallery-images {
        width: 100%;
        max-width: 150px;
        height: 150px;
        background-position: center;
        background-size: contain;
  
    }

.gallery-text {
        display: none;
    }

}