@font-face {
    font-family: ProximaNova-Bold;
    src: url('../fonts/ProximaNova-Bold.woff');
}
@font-face {
    font-family: ProximaNova-Light;
    src: url('../fonts/ProximaNova-Light.woff');
}
@font-face {
    font-family: ProximaNova-Semibold;
    src: url('../fonts/ProximaNova-Semibold.woff');
}